@import url("https://fonts.googleapis.com/css?family=Voltaire");

* {
  margin: 0;
}

body {
  font-family: "Voltaire", sans-serif;
}

#world {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(#aff6ff, #fff8ed);
}

#title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8rem;
  color: #fff48e;
  pointer-events: none;
  /* opacity: 0; */
  text-shadow: 2px 2px 2px #000;
  white-space: nowrap;
}

#instructions {
  position: absolute;
  color: #fff48e;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px #000;
  white-space: nowrap;
  /* opacity: 0; */
}
